@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    line-height: 1.25;
}

a {
    color: inherit;
    text-decoration: inherit;
}

h1 {
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

h2 {
    color: #243e63;
}

h5 {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.1rem;
}

ul {
    list-style-type: none;
}
 
p {
    color: #7c8ba1;
    font-weight: 400px;
}

.purple {
    color: #349905;
}

.title__purple {
    color: #349905;
    margin-bottom: 20px;
}

.root {
    padding: 32px;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.grey {
    color: #a0aec0;
}

/*

NAVIGATION

*/

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    font-weight: 900;
    font-size: 24px;
    text-decoration: none;
    color: #243e63;
}

.nav__logo--wrapper {
    width: 40px;
    height: 40px;
}

.nav__logo--wrapper > img {
    width: 100%;
}

.nav__right {
    appearance: button;
    background-color: transparent;
    border: none;
    width: 24px;
    height: 24px;
}

.nav__right > svg {
    font-size: 24px;
}    

.nav__link {
    margin: 0 16px;
}

.nav__links,
.nav__links--grouped,
.nav__links--primary {
    display: inline-block;
    margin: 0 16px;
    font-size: 13px;
    border-color: transparent;
    border-bottom-width: 2px;
    font-weight: 600;
    letter-spacing: 0.025rem;
}

.nav__links--primary {
    border-bottom-width: 0px;
    background-color: #349905;
    padding: 6px 32px;
    border: 4px solid  #349905;
    border-radius: 20px;
    color: white;
}

.nav__links--grouped-anchor,
.nav__links--primary-anchor {
    display: flex;
}

.flex {
    display: flex;
    width: 100%;
}

.nav__header {
    font-size: 24px;
}

/*

LANDING

*/

.row__landing {
    display: flex;
    justify-content: space-between;
    padding: 96px 0;
}

.row__landing--left {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.landing__title {
    font-size: 36px;
    font-weight: 600;
    color: black;
}

.landing__para {
    margin: 32px 0;
    color: #243e63;
}

.input__box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.landing__inp {
    border: 2px solid rgb(226, 232, 240);
    border-radius: 9999px;
    padding: 20px 32px;
    width: 100%;
    color: rgb(226, 232, 240);
    font-size: 16px;
}

.landing__btn {
    background-color: #349905;
    color: #f7fafc;
    border: 0px transparent;
    border-radius: 9999px;
    padding: 12px 32px;
    margin: 8px 8px 8px 0;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 16px;
}

.landing__logo {
    margin-top: 80px;
}

.landing__para--logo {
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 12px;
}

.landing__img {
    width: 100%;
}

.logo__wrapper {
    max-width: 320px;
}

.logo {
    filter: opacity(50%);
    width: 99%;
}

.row__landing--right {
    width: 60%;
}

/*

FEATURES

*/

.row__features {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 0;
}

.features__title {
    font-size: 40px;
    margin-bottom: 16px;
    font-weight: 900;
    width: 100%;
    text-align: center;
}

.features__para {
    text-align: center;
    color: #7c8ba1;
    line-height: 1.625;
    font-weight: 600;
    max-width: 500px;
    margin-bottom: 40px;
    font-size: 18px;
}

.feature__img--wrapper {
    padding: 20px;
    height: 64px;
    border: 1px solid rgb(226, 232, 240);
    border-radius: 9999px;
}

.services {
    display: flex;
    flex-wrap: wrap;
}

.service {
    display: flex;
    width: calc(100% / 3);
    padding: 32px 16px;
}

.service__description {
    margin: 8px 0 0 16px;
}

.service__para {
    color: #7c8ba1;
    margin-top: 16px;
    line-height: 2;
    font-weight: 400;
}

/*

ABOUT

*/

.row__about {
    display: flex;
    justify-content: space-between;
    padding: 96px 0;
}

.row__about--left {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

.row__about--right {
    width: 50%;
    display: flex;
    align-items: center;
}

.about__img--wrapper {
    border: 1px solid rgb(226, 232, 240);
    border-radius: 0.25rem;
    overflow: hidden;
}

.about__img {
    width: 100%;
    border: 1px solid rgba (149, 149, 149, 0.197)
}

.about__title {
    margin-bottom: 16px;
    font-size: 48px;
    font-weight: 900;
}

.about__para {
    font-size: 18px;
    line-height: 1.625;
    font-weight: 400;
    margin-bottom: 32px;
}

.about__btn {
    background-color: #349905;
    color: white;
    border: 0px transparent;
    padding: 12px 32px;
    border-radius: 9999px;
    font-size: 14px;
    font-weight: 600;
}

/*

STEPS

*/

.row__steps {
    display: flex;
    justify-content: space-between;
    padding: 96px 0;
}

.row__steps--left {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

.row__steps--right {
    width: 45%;
    display: column;
    align-items: center;
}

.steps__img--wrapper {
    overflow: hidden;
}

.steps__img {
    margin-top: 56px;
    width: 100%;
}

.list__seperator {
    display: flex;
    margin-top: 32px;
}

.step {
    margin-left: 24px;
}

.steps__title {
    font-size: 36px;
    font-weight: 900;
}

.steps__list {
    list-style-type: none;
}

.step__number {
    color: #cbd5e0;
    font-size: 36px;
}

.step__title {
    color: #243e63;
}

.step__description {
    margin-top: 12px;
}

/*

VLAUES

*/

.row__values {
    display: flex;
    justify-content: space-between;
    padding: 96px 0;
}

.row__values--left {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

.row__values--right {
    width: 50%;
    display: column;
    align-items: center;
}

.img__values {
    width: 100%;
}

.values__title {
    font-size: 48px;
    font-weight: 900;
    width: 75%;
}

.values__about {
    margin-right: 24px;
}

.values__para {
    font-size: 18px;
    margin-top: 32px;
    margin-bottom: 24px;
    font-weight: 400;
}

.values__about--wrapper {
    display: flex;
    margin-bottom: 40px;
}

.values__about--header {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    text-align: left;
}

.values__about--title {
    margin-left: 8px;
    font-size: 20px;
}

.values__about--para {
    font-weight: 400;
}

.fa-solid, .fas {
    font-weight: 900;
}

.fa-dollar-sign {
    padding: 8px 12px;
    background-color: rgb(154, 230, 180);
    border: transparent;
    border-radius: 9999px;
}

.fa-suitcase {
    padding: 8px;
    background-color: #feb2b2;
    border: transparent;
    border-radius: 9999px;

}

/*

PRICING

*/

.row__pricing {
    text-align: center;
    padding: 96px 0;
}

.pricing__title {
    font-size: 48px;
    font-weight: 900;   
}

.pricing__para {
    margin-top: 16px;
}

.plans {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.plan__green {
    width: calc( 100% / 3 - 32px );
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(226, 232, 240);
    border-top: transparent;
    border-radius: 8px;
    margin-top: 64px;
    margin-right: 32px;
}

.plan__header {
    padding: 32px 0;
    width: 100%;
}

.plan__feature {
    border-bottom: 2px solid rgb(226, 232, 240);
    border-top: 2px solid rgb(226, 232, 240);
    text-align: center;
    padding: 32px 0;
    width: 100%;
}

.plan__action {
    padding: 32px;
    width: 100%;
}

.type {
    font-size: 20px;
    color: #1a202c;
}

.price {
    margin: 4px;
    font-size: 48px;
    color: #1a202c;
}

.duration {
    font-size: 16px;
    color: #a0aec0;
}

.plan__para--title {
    color: #243e63;
}

.feature__para {
    margin-top: 20px;
}

.plan__action {
    padding: 32px;
    width: 100%;
}

.action__btn {
    padding: 16px 32px;
    border-radius: 9999px;
    font-weight: 900;
    font-size: 14px;
    border: transparent;
    width: 100%;
}

.btn__green {
    background: linear-gradient(115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%);
    color: #f7fafc;
}

.glow__green {
    height: 0.5rem;
    width: 101%;
    background: linear-gradient(115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%);
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.plan__blue {
    width: calc( 100% / 3 - 32px );
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(226, 232, 240);
    border-top: transparent;
    border-radius: 8px;
    margin-top: 64px;
    margin-right: 32px;
    background-image: linear-gradient(135deg,
    rgb(76,81,191) 0%,
    rgb(102,126,234) 100%);
}

.blue-white {
    color: #f7fafc;
}

.blue-offwhite {
    color: #f7fafc;
}

.blue-grey {
    color: #e2e8f0;
}

.btn__blue {
    color: #6415ff;
    background: #f7fafc;
}

.plan__red {
    width: calc( 100% / 3 - 32px );
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(226, 232, 240);
    border-top: transparent;
    border-radius: 8px;
    margin-top: 64px;
    margin-right: 32px;
}

.glow__red {
    height: 0.5rem;
    width: 101%;
    background: linear-gradient(115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%);
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.btn__red {
    background: linear-gradient(115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%);
    color: #f7fafc;
}

/*

TESTIMONIALS

*/

.row__testimonials {
    display: flex;
    justify-content: space-between;
    padding: 96px 0;
}

.row__testimonials--left {
    width: 45%;
    display: flex;
    align-items: center;
}

.row__testimonials--right {
    width: 45%;
}

.testimonials__img {
    width: 100%;
}

.testimonials__title {
    font-size: 48px;
    font-weight: 900;
}

.testimonials__para {
    margin-top: 24px;
}

.stars__img {
    width: 30%;
}

.testimonials__about {
    margin-top: 16px;
}

.testimonials__about--title {
    font-size: 20px;
}

.testimonials__about--para {
    color: #7c8ba1;
    margin: 16px 0 40px;
}

.testimonials__id {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info__wrapper {
    display: flex;
    align-items: center;
}

.photo__wrapper {
    max-width: 96px;
}

.photo {
    border: transparent;
    border-radius: 9999px;
    width: 100%;
    margin-top: 40px;
}

.name__position--wrapper {
    margin-left: 24px;
}

.name {
    font-size: 20px;
}

.position {
    font-weight: 400;
    color: #7c8ba1;
}

.testimonials__btn {
    border: transparent;
    border-radius: 9999px;
    padding: 12px 16px;
    margin-right: 12px;
}

/*

FAQ

*/

.row__faq {
    padding: 96px;
}

.faq__header {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 24px;
}

.faq__title {
    font-size: 48px;
}

.faq__para {
    width: 80%;
    margin-top: 12px;
}

.questions__list--item {
    background-color: #edf2f7;
    margin-top: 12px;
    padding: 16px 40px;
    border-radius: 4px;
}

.question {
    color: #2d3748;
    font-weight: 500;
}

/*

ACTION

*/

#action {
    display: flex;
    justify-content: center;
}

.row__action {
    margin: 96px 0;
    padding: 64px 24px;
    background-color: #6415ff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
}

.action__title {
    color: #f7fafc;
    font-size: 30px;
    width: 50%;
}

.action__btn--bottom {
    padding: 20px 40px;
    border-radius: 9999px;
    border: 1px solid;
    font-weight: 600;
    font-size: 16px;
    margin: 24px;
}

.action__btn--red {
    border: transparent;
    background-color: rgb(245, 101, 101);
    color: #f7fafc;
    transition: all 300ms ease;
}

.action__btn--purple {
    background-color: transparent;
    border-color: rgb(160, 174, 192);
    color: #f7fafc;
    transition: all 300ms ease;
}

/*

FOOTER

*/

.row__footer {
    padding: 96px 32px 64px;
}

.footer__wrapper {
    background-color: #6415ff;
}

.links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.link {
    display: flex;
    flex-direction: column;
    width: auto;
}

.footer__link--header {
    margin-bottom: 12px;
    font-size: 16px;
}

.footer__link--anchor {
    padding-bottom: 4px;
    margin: 12px 0 4px 0;
    font-size: 14px;
}

.footer__divider {
    margin: 64px;
    border-top: 2px solid rgb( 116, 44, 255);
}

.footer__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
}

.footer__info--left {
    display: flex;
    align-items: center;
    color: #f7fafc;
}

.footer__logo--wrapper {
    max-width: 32px;
}

.footer__logo {
    width: 100%;
    padding-top: 2px;
}

.footer__info--header {
    font-size: 20px;
    margin-left: 8px;
    font-weight: 800;
    color: #243e63;
}

.grey__cr {
    color: #cbd5e0;
}

.footer__links {
    display: flex;
    justify-content: space-between;
    max-width: 100px;
    width: 100%;
}

.fa__brands {
    font-weight: 400;
}