@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

ul {
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
}

li {
    list-style-type: none;
}

.purple {
    color: purple;
}

/* 

NAVIGATION

*/

nav {
    height: 80px;
    display: flex;
}

.nav__container {
    width: 100%;
    max-width: 1200px;
    padding: 0 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.nav__links {
    margin-left: 16px;
    text-decoration: none;
    font-size: 20px;
    padding: 8px;
}

.nav__link {
    margin-left: 40px;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
}

.nav__link--primary {
    border: 2px solid black;
    border-radius: 10px;
    margin-left: 16px;
}

.logo {
    margin-right: 0.75rem;
    width: 2.5rem;
}

.header__logo {
    font-size: 24px;
    font-weight: bold;
    margin-right: 60px;
    color: #242424;
}    