@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

a {
    color: inherit;
    text-decoration: inherit;
}

h1 {
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.purple {
    color: rgba(100, 21, 255, 1);;
}

body {
    padding: 32px;
    position: relative;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/*

NAVIGATION

*/

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    font-weight: 900;
    font-size: 24px;
    text-decoration: none;
    color: #243e63;
}

.nav__logo--wrapper {
    width: 40px;
    height: 40px;
}

.nav__logo--wrapper > img {
    width: 100%;
}

.nav__right {
    appearance: button;
    background-color: transparent;
    border: none;
    width: 24px;
    height: 24px;
}

.nav__right > svg {
    font-size: 24px;
}    

.nav__links {
    position: absolute;
    background-color: azure;
    text-decoration: none;
    z-index: 10;
    width: 100%;
    padding: 16px;
    border: black solid 1px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.menu__link {
    margin: 0 16px;

}

.menu__links,
.menu__links--primary {
    display: inline-block;
    margin: 0 16px;
    font-size: 13px;
    border-color: transparent;
    border-bottom-width: 2px;
    font-weight: 600;
    letter-spacing: 0.025rem;
}

.menu__links--primary {
    border-bottom-width: 0px;
    background-color: rgba(100, 21, 255, 1);
    padding: 6px 32px;
    border: 4px solid  rgba(100, 21, 255, 1);
    border-radius: 20px;
    color: white;
}

.nav__para {
    align-items: center;
}

.nav__img {
    width: 60%;
}

.flex {
    width: 40%;
}


